  /*Reset base*/
  
  body {
    color: #333333;
    box-sizing: border-box;
  }
  body,
  html {
    font-size: 24px;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    margin: 0px;
    padding: 0px;
  }
  main {
    position: relative;
    height: 100%;
  }
  /*Typography*/
  
  header h1 {
    display: block;
    height: 100%;
    padding: 20px;
    font-size: 300%;
    margin: 0;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    line-height: 120%;
  }
  article {
    position: relative;
    font-size: 80%;
    line-height: 150%;
    width: 100%;
  }
  article p {
    text-align: justify;
  }
  article p,
  article h1 {
    margin: 10px 40px 10px 40px;
  }
  .image-box {
    margin: 20px 40px 20px 40px;
  }
  article img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: calc(70vh);
  }
  .box {
    width: 80%;
    margin: 20px auto 20px auto;
    display: block;
    text-align: center;
    line-height: 130%;
    border-width: 1px 0 1px 0;
    padding: 5px;
    border-style: dotted;
    font-style: italic;
  }
  footer h1 {
    margin: 0px;
  }
  footer {
    z-index: 2;
    width: 100%;
    padding: 0px;
    margin-right: 10px;
    padding-right: 5px;
    position: fixed;
    bottom: 0px;
    font-size: 50%;
    text-align: right;
  }
  .highlight {
    display: inline-block;
  }
  #name span {
    display: inline-block;
    font-family: "prenton-condensed", sans-serif;
    padding-left: 3px;
    padding-right: 3px;
  }
  @media (min-width:700px) {
    body {
      overflow-y: hidden;
    }
    header {
      position: absolute;
      z-index: 3;
      height: 100%;
      width: 350px;
      position: absolute;
      left: 0px;
      border-style: solid;
      border-color: #333333;
      border-width: 0 20px 0 0;
    }
    article {
      column-rule: 1px dotted #333333;
      max-height: calc(100% - 40px);
      column-width: 350px;
      column-gap: 20px;
    }
    main {
      position: absolute;
      left: 400px;
      top: 10px;
    }
  }
