  /*Reset base*/
  
  img {
    max-width: 100%;
  }
  a:link,
  a:visited {
    color: inherit;
  }
  body {
    color: #333333;
    box-sizing: border-box;
  }
  body,
  html {
    font-size: 24px;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .intro {
    font-size: 120%;
    line-height: 140%;
    display: block;
  }
  main {
    width: 100%;
    position: relative;
    height: 100%;
  }
  /*Typography*/
  
  header {
    position: relative;
    padding-bottom: 40px;
  }
  #dots {
    z-index: 1;
    left: 0;
    top: 0px;
    position: absolute;
    height: 180000%;
    width: 100%;
    transition: all 6000000ms;
  }
  #dots.up {
    top: -180000%
  }
  header h1 {
    position: relative;
    z-index: 2;
    display: block;
    height: 100%;
    padding: 20px;
    font-size: 200%;
    margin: 0;
    font-family: "prenton-condensed", sans-serif;
    line-height: 120%;
  }
  article {
    position: relative;
    font-size: 80%;
    line-height: 150%;
    width: 100%;
    padding-bottom: 100px;
  }
  article p {
    text-align: justify;
  }
  article p,
  article h1,
  article h2,
  article .intro {
    margin: 10px 30px 10px 30px;
  }
  .image-box {
    margin: 20px 30px 20px 30px;
  }
  article img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: calc(70vh);
  }
  .box {
    width: 80%;
    margin: 20px auto 20px auto;
    line-height: 130%;
    border-width: 1px 0 1px 0;
    padding: 10px;
    border-style: dotted;
    font-style: italic;
  }
  .box h2,
  .box h1,
  box h3 {
    margin: 0px;
    margin-bottom: 20px;
  }
  .box h1 {
    line-height: 120%;
    font-size: 130%;
  }
  .post-categories-list-home .category {
    font-size: 60%;
  }
  .post-categories-list-home .category:before {
    content: " & ";
  }
  .post-categories-list-home .category:first-child:before {
    content: "";
  }
  .box.hidden {
    border-style: none;
  }
  .box h3 {
    text-align: left;
  }
  .box li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: block;
  }
  .box p {
    margin: 0px
  }
  .box a:link {
    text-decoration: none;
  }
  .audio {
    margin: 20px;
    border-style: dotted;
    text-align: center;
  }
  .track h1 {
    font-size: 100%;
  }
  .track a:link,
  .track a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 70%;
  }
  .box h2 {
    font-size: 140%;
    margin-top: 20px;
    font-weight: normal;
    font-style: normal;
  }
  .box li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .box ul {
    padding: 0;
  }
  footer h1 {
    margin: 0px;
  }
  footer {
    z-index: 2;
    width: 100%;
    padding: 0px;
    margin-right: 10px;
    padding-right: 5px;
    position: fixed;
    bottom: 0px;
    font-size: 50%;
    text-align: right;
  }
  .highlight {
    display: block;
    padding: 10px;
  }
  article nav {
    margin: 30px;
  }
  #name span {
    display: inline-block;
    font-family: "prenton-condensed", sans-serif;
    padding-left: 3px;
    padding-right: 3px;
  }
  header img {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: white;
  }
  #categories {
    font-style: italic;
    text-decoration: none;
    font-size: 70%;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    margin: 20px;
  }
  #categories a:link {
    text-decoration: none;
  }
  #categories a:link:before {
    content: " - "
  }
  #categories a:first-child:before {
    content: ""
  }
  header {
    text-align: center;
  }
  @media (min-width:700px) and (min-height:500px) {
    header h1 {
      font-size: 200%;
    }
    header h1.no-image {
      font-size: 400%;
    }
    #categories {
      z-index: 4;
      margin-bottom: 20px;
    }
    header {
      padding-bottom: 0;
      position: relative;
      z-index: 3;
      height: 100vh;
      width: 350px;
      left: 0px;
      border-style: solid;
      border-color: #333333;
      border-width: 0 20px 0 0;
    }
    article {
      height: calc(100% - 40px);
      max-height: calc(100% - 40px);
      column-rule: 1px dotted #333333;
      column-width: 350px;
      column-gap: 20px;
      -webkit-column-width: 350px;
      -webkit-column-gap: 20px;
      -moz-column-rule: 1px dotted #333333;
      -moz-column-width: 350px;
      -moz-column-gap: 20px;
      -webkit-column-rule: 1px dotted #333333;
      column-fill: auto;
      -moz-column-fill: auto;
    }
    main {
      position: absolute;
      left: 400px;
      top: 10px;
    }
  }
  /*Header resizing*/
  
  @media(min-width:700px) and (min-height:500px) and (max-height:700px) {
    header h1 {
      font-size: 180%;
    }
    header h1.no-image {
      font-size: 300%;
    }
  }
  @media(min-width:700px) and (min-height:500px) and (max-height:600px) {
    header h1 {
      font-size: 130%;
    }
    header h1.no-image {
      font-size: 200%;
    }
  }
