<!doctype html>

<head>

  {{{iris embed="template" name="header"}}}

</head>

<body>

  <section style="padding:20px;">

    <h1>{{req.path}} doesn't lead anywhere on this site at the moment.</h1>

    <p>The content you are looking for cannot be found here (unless you are looking for the 404 page).</p>
    
    <p>Please email me at hello@filipnest.com if you're looking for something that seems to have gone missing.</p>

    <p>Your url has been checked for any relevant words that could match some content but it doesn't seem to pick up any results.</p>
    
  </section>

  {{{iris embed="template" name="footer"}}}


</body>
