  <header class="two twoCont">
    
  {{{iris embed="template" name="background"}}}
        
    <h1>{{current.title}}</h1>
            
  </header>

  <main>

    <article>
             
      {{#if current.info}}
      
        <b>{{{current.info}}}</b>
      
      <hr />
      
      {{/if}}
      
      <section class="audio">

      <div class="track">

        <h1>{{this.title}}</h1>

        <audio controls="controls">
          <source src="{{current.file}}" type="audio/mpeg">
        </audio>
        
        <div class="info">
  <a href="{{current.file}}">Download</a>
        </div>

      </div>

    </section>
                        
     {{{current.words}}}
           
    </article>

  </main>