<svg id="dots">
  <defs>
    <pattern id="dotty" x="10" y="10" width="350" height="500" patternUnits="userSpaceOnUse">

    </pattern>
  </defs>
  <rect x="0" y="0" width="100%" height="100%" fill="url(#dotty)" />
</svg>

<script>
  var dots = [
    [162, 43],
    [40, 94],
    [294, 79],
    [197, 170],
    [63, 215],
    [281, 259],
    [154, 312],
    [281, 397],
    [69, 402]
  ];

  // Get all dot pattern positions

  // Width is 350px
  // Pattern height is 500px;
  // Full height is 10000px
  // Full width depends on browser width

  var dotty = document.getElementById('dotty');

  document.getElementById("dots").onclick = function(event) {

    var y = event.pageY - $('#dots').offset().top;
    var x = event.pageX;

    // Find which pattern grid this falls into

    var gridX = Math.floor(Math.abs(x / 350));
    var gridY = Math.floor(Math.abs(y / 500));

    var dotElements = document.querySelectorAll("#dots circle");

    // Variable for if popped or not

    var popped;

    window.dots.forEach(function(element, index) {

      // Get relevant grid position of dot

      var dotX = element[0] + (350 * gridX);
      var dotY = element[1] + (500 * gridY);

      var xDistance = Math.abs(x - dotX);
      var yDistance = Math.abs(y - dotY);

      if (xDistance < 40 && yDistance < 40) {

        popped = index;

      }

    })

    if (typeof popped !== "undefined") {

      dotElements[popped].setAttribute("class", "popped");

    }

  }


  dots.forEach(function(dot) {

    var newElement = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
    newElement.setAttribute("cx", dot[0]);
    newElement.setAttribute("cy", dot[1]);
    newElement.setAttribute("r", 20);
    dotty.appendChild(newElement);

  })

</script>
