<header class="three twoCont">

  
  {{{iris embed="template" template="background"}}}
  
  {{#if current.lead_image}}

  <img alt="{{current.lead_image.alt}}" title="{{current.lead_image.title}}" src="{{current.lead_image.path}}" />

  <h1 class="no-image">{{current.title}}</h1> {{else}}

  <h1 class="no-image">{{current.title}}</h1> {{/if}}

</header>

<main>

  <article>

    <span class="intro">{{{current.description}}}</span>

    <div class="box hidden">
      <ul>
        
        {{#iris embed="entity" liveupdate="true" embedOptions='{"entities":["post"],"queries":[{"field":"categories","value":{"eid":$current.eid},"operator":"includes"}],"sort":{"date":-1}}' as |posts|}}
        
          {{#each posts}}
          <li>
            <a href="{{this.path}}"><h1>{{this.title}}</h1>

          {{#if this.lead_image.title}}

          <img title="{{this.lead_image.title}}" alt="{{this.lead_image.alt}}" src="{{this.lead_image.path}}" />

          {{/if}}
          <br />
          <p>{{{this.intro}}}</p>
          <br />
                 <hr />
  </a>
          </li>
          {{/each}}
        
        {{/iris}}


      </ul>
    </div>

  </article>

</main>
