<!doctype HTML>

<html>

<head>
  
    <meta charset="UTF-8">
  <meta property="og:url" content="http://filipnest.com.com{{current.path}}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{current.title}} - Filip Hnízdo" />
  <META name="Description" content="{{current.intro}}">
  <meta property="og:description" content="{{current.intro}}" />
  <meta property="og:image" content="{{current.lead_image.path}}" />
  
    {{{iris embed="template" template="header"}}}

</head>

<body>
  
  [[[MAINCONTENT]]]
  
  {{{iris embed="template" template="footer"}}}
  
</body>

</html>
