<!doctype HTML>

<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Filip Hnízdo</title>
  <link rel="stylesheet" href="/themes/filip/filip.css" />
  <link rel="stylesheet" href="/themes/filip/colours.css" />
  <link rel="stylesheet" href="/themes/filip/fonts/fonts.css" />
  
  {{{iris embed="tags" name="headTags"}}}

</head>

<body>
  
  [[[MAINCONTENT]]]

  <footer class="one">

    <a href="/"><h1 id="name"><span class="one oneCont">F</span><span class="two twoCont">i</span><span class="three threeCont">l</span><span class="four fourCont">i</span><span class="one oneCont">p</span><span> </span><span class="two twoCont">H</span><span class="three threeCont">n</span><span class="four fourCont">í</span><span class="one oneCont">z</span><span class="two twoCont">d</span><span class="three threeCont">o</span></h1></a></footer>

  <script src="/themes/filip/libraries/jquery-2.2.3.min.js"></script>
  <script src="/themes/filip/libraries/jquery.mousewheel.js"></script>
  <script src="/themes/filip/js/scrolling.js"></script>

  <script src="/themes/filip/libraries/jquery.hypher.js"></script>
  <script src="/themes/filip/libraries/en-gb.js"></script>
  <script src="/themes/filip/js/general.js"></script>
  
</body>

</html>
