<header class="two twoCont">

  {{#if current.lead_image}}

  <img alt="{{current.lead_image.alt}}" title="{{current.lead_image.title}}" src="{{current.lead_image.path}}" /> {{/if}}

  <h1>{{current.title}}</h1>

</header>

<main>

  <article class="gill">

    <span class="intro">{{{current.description}}}</span>

    <div class="box">
      <ul>

        [[[entity posts,{"entities":["post"],"queries":[{"field":"categories","value":{"eid":{{current.eid}} },"operator":"includes"}],"sort":{"eid":"asc"} }]]] 
        
        {{{{iris_liveupdate}}}} 
        
        {{#each posts}}
        
               <li>
          <a href="{{this.path}}">{{this.title}}
            
        
        
        {{#if this.lead_image.title}}
        
        <img title="{{this.lead_image.title}}" alt="{{this.lead_image.alt}}" src="{{this.lead_image.path}}" />
        
        {{else}}
        
        {{this.intro}}
                
        {{/if}}
        
               <hr />
</a>
                 </li>
        {{/each}} 
        
        {{{{/iris_liveupdate}}}}


      </ul>
    </div>

  </article>

</main>
