<style id="header-colours">
  
  header h1 {
    letter-spacing: 1.5px;
    font-weight: 700;
    color: CLcont2;
    text-shadow: 0 .005em CLcont1, -.005em 0 CL3, -.005em .010em CLcont1, -.010em .005em CLcont1, -.010em .015em CLcont1, -.015em .010em CL3, -.015em .020em CLcont1, -.020em .015em CL3, -.020em .025em CLcont1, -.025em .020em CL3, -.025em .030em CLcont1, -.030em .025em CL3, -.030em .035em CLcont1, -.035em .030em CL3, -.035em .040em CLcont1, -.040em .035em CL3, -.040em .045em CLcont1, -.045em .040em CL3, -.045em .050em CLcont1, -.050em .045em CL3;
  }

</style>
